.list {
    display:  grid;
    grid-template-columns:  1fr;
    grid-gap: 0.15rem;
}

.item {
}

.image {
    width:  100%;
    display:  block;
}

.item:hover {
    opacity:  0.5;
}

.text {
    color:  white;
}

@media (min-width: 420px) {
    .item {
        /* box-sizing:  border-box; */
        /* width:  50%; */
    }

    .list {
        display:  grid;
        grid-template-columns:  1fr 1fr;
        grid-gap: 0.3rem;
    }


}
