.list {
    display:  flex;
    flex-wrap:  wrap;
}


.item {
    box-sizing:  border-box;
    width:  100%;
    min-width:  200px;
    height:  100%;
    padding:  2.5px 5px;
}

@media (min-width: 420px) {
    .item {
        box-sizing:  border-box;
        width:  50%;
        min-width:  200px;
        height:  100%;
        padding:  5px;
    }

}
