a {
  color: white;
  /* color: #ce58b1; */
  text-decoration: none;
}

.head {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 997;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25.6px;
  font-size: 1.6rem;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.nav {
  font-size: 12.8px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation a,
.navigation p {
  padding: 10px;
}

@media (min-width: 540px) {
  .title {
    color: white;
    font-size: 32px;
    font-size: 2rem;
    flex-grow: 1;
    margin-left: 1rem;
  }

  .nav {
    font-size: 16px;
    font-size: 1rem;
    margin-right: 1rem;
  }
}
