.link {
  color: black;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  transition: 0.2s ease;
}

.text {
  color: black;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.item {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.call {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid;
}

.portrait {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 400px;
  z-index: -1;
  max-width: 100%;
}

@media (min-width: 420px) {
  .list {
    display: flex;
    flex-direction: column;
  }

  .item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
  }

  .call {
    padding: 2rem;
    text-align: center;
    border-top: 1px solid;
  }
}
