.home {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 2.5rem;
  width: 150px;
  background-color: #ff69b4;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.home:hover {
  background-color: black;
}

.text {
  font-size: 1rem;
  margin: 1rem;
}

.image {
  margin: 2rem;
  max-width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.info {
  max-width: 50ch;
}

.title {
  color: #ff69b4;
  line-height: 1.2;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem;
}

@media (min-width: 420px) {
  .image {
    max-width: 400px;
  }

  .info {
    max-width: 50ch;
  }

  .title {
    color: #ff69b4;
    line-height: 1.2;
    font-weight: bold;
    font-size: 4rem;
    margin: 1rem;
  }

  .text {
    font-size: 1.3rem;
    margin: 1rem;
  }
}
