.imageContainer {
  max-width: 90%;
  z-index: -1;
}

.info {
  margin: auto;
  max-width: 50ch;
  background-color: rgba(255, 255, 255, 0.75);
}

.title {
  line-height: 1.2;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
}

.text {
  text-indent: 2rem;
  line-height: 1.2;
  font-weight: normal;
  font-size: 1rem;
  margin: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 420px) {
  .imageContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 400px;
    max-width: 95%;
    z-index: -1;
  }

  .info {
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 50ch;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .title {
    line-height: 1.2;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem;
  }

  .text {
    text-indent: 2rem;
    line-height: 1.2;
    font-size: 1.2rem;
    margin: 1rem;
  }

  .flex {
    display: flex;
  }
}
